@page "/chatwrite"
@using SolvaBlazorBoard.Models
@using SolvaBlazorBoard.Services
@inject ChatService ChatService
@inject IAccountService accountService
@inject NavigationManager navigationManager
@inject IJSRuntime JsRuntime

<PageTitle>Chat Write</PageTitle>

<h3>ChatWrite</h3>


@code {

}
