@page "/chat"
@using Microsoft.AspNetCore.WebUtilities;
@using System
@using System.Collections
@using SolvaBlazorBoard.Models
@inject ChatService ChatService
@inject NavigationManager navigationManager
<PageTitle>Chat</PageTitle>
<h3>Chat</h3>
    <section style="height:100px;width:100%;display:flex;justify-content:center;align-items:center;">
        <div style="width:50%; display:flex;justify-content:flex-start;align-items:center;">
            <h3>List</h3>
        </div>
        <div style="width:50%; display:flex;justify-content:flex-end;align-items:center;">
            <button class="btn btn-primary"
            @onclick="NavigateToChatWriteComponent">
            Register
        </button>
        </div>
    </section>
    @for (var i = 0; i < chat.Length; i++)        
    {
        <div class="card text-center" style="margin-top:20px;">
          <div class="card-header">
            @chat[i].User
          </div>
          <div class="card-body">
            <h5 class="card-title">@chat[i].User</h5>
            <p class="card-text">@markupConverter(@chat[i].Content.ToString())</p>
            <button class="btn btn-primary"
                @onclick="NavigateToChatReadComponent">
                Go Detail
            </button>
          </div>
          <div class="card-footer text-muted">
            @chat[i].Date
          </div>
        </div>
    }


@code {
    private TblAgoraChatMaster[] chat;

    protected override async Task OnInitializedAsync()
    {    
        chat = await ChatService.GetChatAsync();
    }
    protected MarkupString markupConverter(string target)
    {
        MarkupString markup = (MarkupString)target;
        return markup;
    }
    private void NavigateToChatWriteComponent()
    {
        navigationManager.NavigateTo("chatwrite");
    }
    private void NavigateToChatReadComponent()
    {
        navigationManager.NavigateTo("chatread");
    }
}
