@page "/"

<PageTitle>솔바 아고라</PageTitle>

<h1>Agora For Solva
    <span class="badge bg-warning" style="margin-left:15px;">New!</span>
    <span class="badge bg-primary" style="margin-left:15px;">Board!</span>
    <span class="badge bg-success" style="margin-left:15px;">News!</span>
    <span class="badge bg-danger" style="margin-left:15px;">Chat!</span>
</h1>

솔바에서 함께 성장하고 문제를 해결해 나가는 사람들

<SurveyPrompt Title="어떻게 만들어 갈 수 있을까요?" />
<MainPart1></MainPart1>
<MainPart2></MainPart2>
